[mysqld]
bind-address = {{ mgmt }}
default-storage-engine = innodb
innodb_file_per_table = on
max_connections = 4096
collation-server = utf8_general_ci
character-set-server = utf8
#
init-connect='SET NAMES utf8'
default-storage-engine=innodb
expire_logs_days = 7
max_binlog_size = 1024M

skip-external-locking
skip-name-resolve

myisam_sort_buffer_size=64M
wait_timeout=1800
open_files_limit=102400
table_open_cache=10000
key_buffer_size=64M
max_allowed_packet=256M
query_cache_size=0
query_cache_type=0

